.showData{
    display: flex;
    gap:100px
}

.imageFile{
    width: 900px;
    height: 1000px;
}

.invoiceInfo{
    display: flex;
    gap: 10px
    
}

.invoiceInfoParagraph{
    width: 150px;
    font-size: 20px;
    margin: 5px;
}

.newDataParagraph{
    width: 500px;
    font-size: 20px;
    margin: 5px;
}

.mainDiv{
    margin: 0 auto;
}